In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
tracks = gpd.read_file('data\hurricane_track_data\IBTrACS.NA.list.v04r01.lines.shp')

In [3]:
tracks

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,USA_SEA_SW,USA_SEA_NW,STORM_SPD,STORM_DR,year,month,day,hour,min,geometry
0,1851175N26270,1851,5,NA,GM,UNNAMED,1851-06-23 12:00:00,TS,26.1,-90.4,...,NaN,NaN,6,290,1851,6,23,12,0,"LINESTRING (-90.40002 26.1, -90.69995 26.2)"
1,1851175N26270,1851,5,NA,GM,UNNAMED,1851-06-23 15:00:00,TS,26.2,-90.7,...,NaN,NaN,6,290,1851,6,23,15,0,"LINESTRING (-90.69995 26.2, -91 26.3)"
2,1851175N26270,1851,5,NA,GM,UNNAMED,1851-06-23 18:00:00,TS,26.3,-91.0,...,NaN,NaN,6,290,1851,6,23,18,0,"LINESTRING (-91 26.3, -91.30005 26.4)"
3,1851175N26270,1851,5,NA,GM,UNNAMED,1851-06-23 21:00:00,TS,26.4,-91.3,...,NaN,NaN,6,290,1851,6,23,21,0,"LINESTRING (-91.30005 26.4, -91.59998 26.5)"
4,1851175N26270,1851,5,NA,GM,UNNAMED,1851-06-24 00:00:00,TS,26.5,-91.6,...,NaN,NaN,6,290,1851,6,24,0,0,"LINESTRING (-91.59998 26.5, -91.90002 26.6)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123972,2024222N11327,2024,40,NA,NA,ERNESTO,2024-08-17 09:00:00,TS,32.3,-64.8,...,265.0,290.0,8,35,2024,8,17,9,0,"LINESTRING (-64.80005 32.3, -64.5 32.6)"
123973,2024222N11327,2024,40,NA,NA,ERNESTO,2024-08-17 12:00:00,TS,32.6,-64.5,...,260.0,280.0,6,40,2024,8,17,12,0,"LINESTRING (-64.5 32.6, -64.40002 32.8)"
123974,2024222N11327,2024,40,NA,NA,ERNESTO,2024-08-17 15:00:00,TS,32.8,-64.4,...,260.0,280.0,5,35,2024,8,17,15,0,"LINESTRING (-64.40002 32.8, -64.19995 33)"
123975,2024222N11327,2024,40,NA,NA,ERNESTO,2024-08-17 18:00:00,TS,33.0,-64.2,...,260.0,280.0,6,40,2024,8,17,18,0,"LINESTRING (-64.19995 33, -63.90002 33.2)"
123976,2024222N11327,2024,40,NA,NA,ERNESTO,2024-08-17 21:00:00,TS,33.2,-63.9,...,265.0,290.0,7,45,2024,8,17,21,0,"LINESTRING (-63.90002 33.2, -63.59998 33.5)"

In [4]:
tracks.columns

Index(['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME',
       'NATURE', 'LAT', 'LON',
       ...
       'USA_SEA_SW', 'USA_SEA_NW', 'STORM_SPD', 'STORM_DR', 'year', 'month',
       'day', 'hour', 'min', 'geometry'],
      dtype='object', length=180)

In [5]:
cols_to_keep = ['SID','SEASON', 'NUMBER', 'SUBBASIN', 'NAME', 'ISO_TIME', 'USA_WIND', 'USA_STATUS', 'USA_SSHS',
                'year', 'month', 'day', 'hour', 'min', 'geometry']

In [6]:
cleantracks = tracks[cols_to_keep]

In [7]:
cleantracks

,SID,SEASON,NUMBER,SUBBASIN,NAME,ISO_TIME,USA_WIND,USA_STATUS,USA_SSHS,year,month,day,hour,min,geometry
0,1851175N26270,1851,5,GM,UNNAMED,1851-06-23 12:00:00,NaN,None,-5,1851,6,23,12,0,"LINESTRING (-90.40002 26.1, -90.69995 26.2)"
1,1851175N26270,1851,5,GM,UNNAMED,1851-06-23 15:00:00,NaN,None,-5,1851,6,23,15,0,"LINESTRING (-90.69995 26.2, -91 26.3)"
2,1851175N26270,1851,5,GM,UNNAMED,1851-06-23 18:00:00,NaN,None,-5,1851,6,23,18,0,"LINESTRING (-91 26.3, -91.30005 26.4)"
3,1851175N26270,1851,5,GM,UNNAMED,1851-06-23 21:00:00,NaN,None,-5,1851,6,23,21,0,"LINESTRING (-91.30005 26.4, -91.59998 26.5)"
4,1851175N26270,1851,5,GM,UNNAMED,1851-06-24 00:00:00,NaN,None,-5,1851,6,24,0,0,"LINESTRING (-91.59998 26.5, -91.90002 26.6)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123972,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 09:00:00,73.0,HU,1,2024,8,17,9,0,"LINESTRING (-64.80005 32.3, -64.5 32.6)"
123973,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 12:00:00,70.0,HU,1,2024,8,17,12,0,"LINESTRING (-64.5 32.6, -64.40002 32.8)"
123974,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 15:00:00,68.0,HU,1,2024,8,17,15,0,"LINESTRING (-64.40002 32.8, -64.19995 33)"
123975,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 18:00:00,65.0,HU,1,2024,8,17,18,0,"LINESTRING (-64.19995 33, -63.90002 33.2)"
123976,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 21:00:00,63.0,TS,0,2024,8,17,21,0,"LINESTRING (-63.90002 33.2, -63.59998 33.5)"

In [8]:
cleantracks = cleantracks[(cleantracks['SEASON'] >= 1901)]

In [9]:
cleantracks

,SID,SEASON,NUMBER,SUBBASIN,NAME,ISO_TIME,USA_WIND,USA_STATUS,USA_SSHS,year,month,day,hour,min,geometry
36579,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 00:00:00,25.0,TD,-1,1901,6,11,0,0,"LINESTRING (-82.30005 19.3, -82.69995 19.7)"
36580,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 03:00:00,25.0,TD,-1,1901,6,11,3,0,"LINESTRING (-82.69995 19.7, -83 20)"
36581,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 06:00:00,25.0,TD,-1,1901,6,11,6,0,"LINESTRING (-83 20, -83.30005 20.3)"
36582,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 09:00:00,28.0,TD,-1,1901,6,11,9,0,"LINESTRING (-83.30005 20.3, -83.5 20.7)"
36583,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 12:00:00,30.0,TD,-1,1901,6,11,12,0,"LINESTRING (-83.5 20.7, -83.69995 21)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123972,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 09:00:00,73.0,HU,1,2024,8,17,9,0,"LINESTRING (-64.80005 32.3, -64.5 32.6)"
123973,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 12:00:00,70.0,HU,1,2024,8,17,12,0,"LINESTRING (-64.5 32.6, -64.40002 32.8)"
123974,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 15:00:00,68.0,HU,1,2024,8,17,15,0,"LINESTRING (-64.40002 32.8, -64.19995 33)"
123975,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 18:00:00,65.0,HU,1,2024,8,17,18,0,"LINESTRING (-64.19995 33, -63.90002 33.2)"
123976,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 21:00:00,63.0,TS,0,2024,8,17,21,0,"LINESTRING (-63.90002 33.2, -63.59998 33.5)"

In [10]:
# assign a value fo 0 to all negative SSHS values
cleantracks['SSHS_clean'] = cleantracks['USA_SSHS'].apply(lambda x: 0 if x <= 0 else x)

c:\Users\kb42628\Coding\NSI_data_analysis\.venv\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [11]:
cleantracks

,SID,SEASON,NUMBER,SUBBASIN,NAME,ISO_TIME,USA_WIND,USA_STATUS,USA_SSHS,year,month,day,hour,min,geometry,SSHS_clean
36579,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 00:00:00,25.0,TD,-1,1901,6,11,0,0,"LINESTRING (-82.30005 19.3, -82.69995 19.7)",0
36580,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 03:00:00,25.0,TD,-1,1901,6,11,3,0,"LINESTRING (-82.69995 19.7, -83 20)",0
36581,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 06:00:00,25.0,TD,-1,1901,6,11,6,0,"LINESTRING (-83 20, -83.30005 20.3)",0
36582,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 09:00:00,28.0,TD,-1,1901,6,11,9,0,"LINESTRING (-83.30005 20.3, -83.5 20.7)",0
36583,1901162N19278,1901,19,CS,UNNAMED,1901-06-11 12:00:00,30.0,TD,-1,1901,6,11,12,0,"LINESTRING (-83.5 20.7, -83.69995 21)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123972,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 09:00:00,73.0,HU,1,2024,8,17,9,0,"LINESTRING (-64.80005 32.3, -64.5 32.6)",1
123973,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 12:00:00,70.0,HU,1,2024,8,17,12,0,"LINESTRING (-64.5 32.6, -64.40002 32.8)",1
123974,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 15:00:00,68.0,HU,1,2024,8,17,15,0,"LINESTRING (-64.40002 32.8, -64.19995 33)",1
123975,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 18:00:00,65.0,HU,1,2024,8,17,18,0,"LINESTRING (-64.19995 33, -63.90002 33.2)",1
123976,2024222N11327,2024,40,NA,ERNESTO,2024-08-17 21:00:00,63.0,TS,0,2024,8,17,21,0,"LINESTRING (-63.90002 33.2, -63.59998 33.5)",0

In [13]:
cleantracks.to_file('data\hurricane_track_data\IBTrACS_NA_20240819_SSHSclean_1901.shp')